.pokemon-list {
  width: 500px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
}

.modal-body img {
  display: block;
  width: 100;
  height: auto;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  input {
    max-width: 200px;
  }
}

body {
  background-color: #c2c2d6;
}
